black==22.10.0
flake8==6.0.0
mypy==0.991
isort==5.10.1
moto[all]==4.0.11
pytest==7.2.0
pytest-mock==3.6.1
apache-airflow-client==2.3.0
yoyo-migrations==8.1.0
pandas~=1.5.2
Faker~=15.3.4
faker-commerce==1.0.3
apache-airflow-providers-postgres